:root {
  --square-size: 50px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b8b8b8;
}
body {
  display: grid;
  grid-template: max-content 1fr max-content / 1fr 550px 1fr;
  grid-auto-flow: row;
  background-color: #151515;
}
header {
  grid-column: 2 / 3;
  padding-block: 1em;
}
main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: max-content 1fr minmax(130px, max-content);
  justify-items: center;
  row-gap: 1em;
  width: 100%;
}
footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: right;
  padding-block: 1.5em;
}
.heading {
  font-size: 2rem;
  text-align: right;
}
.heading span {
  display: block;
  font-size: 1.5rem;
}
a {
  position: relative;
  color: #757575;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover::after {
  position: absolute;
  content: "( ˶°ㅁ°) !!";
  text-decoration: none;
  margin-left: 1em;
  width: max-content;
}
.text {
  padding-block: 0.5em;
}
.container {
  display: grid;
  grid-auto-flow: row;
  grid-template: 40px max-content / 40px 1fr;
}
.rows,
.columns {
  display: grid;
  justify-items: center;
  align-items: center;
}
.rows {
  grid-row: 2 / 3;
}
.columns {
  grid-auto-flow: column;
  grid-column: 2 / 3;
}
.grid-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, var(--square-size));
  grid-template-rows: repeat(10, var(--square-size));
  border: 1px solid black;
}
.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid black;
  outline: none;
  background-color: #696969;
  padding: 0;
  margin: 0;
}
.ships {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 1em;
  width: 100%;
}
.ship {
  height: var(--square-size);
  background-color: #424242;
  opacity: 80%;
  border: 1px solid transparent;
}
.ship#carrier {
  width: calc(5 * var(--square-size));
}
.ship#battleship {
  width: calc(4 * var(--square-size));
}
.ship#destroyer,
.ship#submarine {
  width: calc(3 * var(--square-size));
}
.ship#patrol-boat {
  width: calc(2 * var(--square-size));
}
.ship-highlight {
  border: 1px solid white;
}
