:root {
  --square-size: 50px;
  --square-bg: #696969;
  --square-hover: #818080;
  --button-bg: #262626;
  --button-hover: #303030;
  --button-active: #383838;
  --font-color-light: #b8b8b8;
  --font-color-dark: #757575;
  --ship-bg: #424242;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--font-color-light);
}
body {
  display: grid;
  grid-template-rows: max-content 1fr;
  background-color: #151515;
}
header {
  padding: 1em 2em;
}
main {
  grid-row: 2 / -1;
  width: 100%;
  display: grid;
  grid-template: repeat(3, max-content) / 550px minmax(300px, 550px);
  justify-items: center;
  gap: 1em;
  padding: 1em 2em;
}
.heading {
  font-size: 2rem;
  line-height: 2ch;
}
.heading span {
  display: block;
  font-size: 1.5rem;
}
a {
  position: relative;
  color: var(--font-color-dark);
  text-decoration: none;
  text-wrap: nowrap;
}
a:hover {
  text-decoration: underline;
}
a:hover::after {
  position: absolute;
  content: "( ˶°ㅁ°) !!";
  text-decoration: none;
  margin-left: 0.6em;
  width: max-content;
}
header p:last-child {
  font-size: 1rem;
  color: var(--font-color-dark);
  padding-top: 0.5em;
}
.container {
  display: grid;
  grid-auto-flow: row;
  grid-template: 40px max-content / 40px max-content;
}
.container#player {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.container#computer {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.rows,
.columns {
  display: grid;
  justify-items: center;
  align-items: center;
  user-select: none;
}
.rows {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.columns {
  grid-column: 2 / 3;
  grid-auto-flow: column;
}
.grid-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, var(--square-size));
  grid-template-rows: repeat(10, var(--square-size));
  border: 1px solid black;
}
.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid black;
  outline: none;
  background-color: var(--square-bg);
  padding: 0;
  margin: 0;
}
.square.dragging,
#computer .square.hovered:hover {
  background-color: var(--square-hover);
}
.square.hit {
  background-color: rgba(220, 20, 60, 0.479);
}
.square.miss {
  background-color: var(--button-active);
}
.ships {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  height: max-content;
  gap: 1em;
  justify-self: flex-start;
  align-self: flex-end;
}
.ships.grid-flow-col {
  grid-auto-flow: column;
}
.ship {
  height: var(--square-size);
  background-color: var(--ship-bg);
  opacity: 80%;
  border: 1px solid transparent;
}
.ship#carrier {
  width: calc(5 * var(--square-size));
}
.ship#battleship {
  width: calc(4 * var(--square-size));
}
.ship#destroyer,
.ship#submarine {
  width: calc(3 * var(--square-size));
}
.ship#patrolBoat {
  width: calc(2 * var(--square-size));
}
.ship-highlight {
  border: 1px solid #ccc;
}
.ship#carrier.vertical {
  width: var(--square-size);
  height: calc(5 * var(--square-size));
}
.ship#battleship.vertical {
  width: var(--square-size);
  height: calc(4 * var(--square-size));
}
.ship#destroyer.vertical,
.ship#submarine.vertical {
  width: var(--square-size);
  height: calc(3 * var(--square-size));
}
.ship#patrolBoat.vertical {
  width: var(--square-size);
  height: calc(2 * var(--square-size));
}
.buttons {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.button {
  height: 40px;
  background-color: var(--button-bg);
  color: var(--font-color-light);
  border: 0;
  border-radius: 6px;
  outline: 0;
  padding: 0.5em 1em;
  margin: 0 1em;
  transition: 0.05s ease-in-out;
}
.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}
.button:active {
  background-color: var(--button-active);
}
.button:disabled {
  background-color: var(--button-bg);
  cursor: not-allowed;
}
.text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.disableClick {
  pointer-events: none;
}
.disableClick .square:hover {
  background-color: var(--square-bg);
}
.hidden {
  display: none;
}
.lowOpacity {
  opacity: 60%;
}
